{{#each this}}
  <li class='country-list__item'>
    <img
      class='country-list__img'
      src='{{flags.svg}}'
      alt='{{name.official}}'
      width='60'
      height='40'
    />{{name.official}}
  </li>
{{/each}}